nav{
  list-style-type: none;
  background-color: #490;
  width: 100%;
  left 0;
  top 0;
  overflow: hidden;
  position: sticky;
}

li{
  float: left;
}

li a{
  display: block; 
  color: white;
  text-decoration: none;
  padding: 15px 25px;
}

li a:hover{
  background-color: red
}
h1{
  color: #0B2545;
  text-shadow: 1px 1px #F9DEC9;
}
body{
  background-color: #1F2833;
}
